<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/2bb80436-43da-4c71-ad65-3fdb0a3ede37/resourceGroups/Pipeline/providers/Microsoft.ContainerRegistry/registries/harshcContainerRegistry</ResourceId>
    <ResourceName>harshcContainerRegistry</ResourceName>
    <ResourceGroup>Pipeline</ResourceGroup>
    <Subscription>Visual Studio Enterprise</Subscription>
    <RegistryUrl>https://harshccontainerregistry.azurecr.io/</RegistryUrl>
    <UserName>harshcContainerRegistry</UserName>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>494793d2-e75f-44aa-b852-f9795c8987b9</ProjectGuid>
  </PropertyGroup>
</Project>